@charset "UTF-8";


.lt_history{
  padding: 10px;
}
.lt_history .title{
  height: 24px;
  line-height:24px;
  font-size: 12px;
  font-weight: 100;
}
.lt_history .title span{
  font-weight: 100;
  height: 24px;
  line-height:24px;
}
.lt_history .content{
  border:1px dashed #ccc;
}
.lt_history .content li{
  height: 30px;
  line-height: 30px;
  padding:0px 10px;

  border-bottom:1px dashed #ccc;
}
.lt_history .content li:last-child{
  border-bottom:none;
}
.lt_history .content a{
  font-size: 12px;
}
.lt_history .content span{
  height: 30px;
  line-height: 30px;
}


